<div class="dashboard-container">
  <div class="option-container" routerLink="../clients">
    <h2>{{'Clients' | translate}}</h2>
    <img src="../../../assets/clients-svg.svg" alt="clients">
  </div>
  <div class="option-container" routerLink="../conversation/1">
    <h2>{{'Conversations' | translate}}</h2>
    <img src="assets/conversations-svg.svg" alt="conversations">
  </div>
  <div class="option-container" routerLink="../profile">
    <h2>{{'Profile' | translate}}</h2>
    <img src="assets/profile-svg.svg" alt="profile">
  </div>
</div>
