<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Despre Noi</title>
</head>
<body>
<header>
  <h1>Despre Noi</h1>
</header>
<div class="container">
  <h2>Cine suntem?</h2>
  <p>Suntem o aplicație dedicată sănătății și fitness-ului, oferind servicii atât pentru clienți, cât și pentru antrenori. Ne concentrăm pe furnizarea unei experiențe personalizate și eficiente pentru toți utilizatorii noștri.</p>

  <h2>Ce oferim?</h2>
  <p>Pentru clienți, oferim o platformă simplă și intuitivă unde pot comunica cu antrenorii, își pot stabili obiectivele și pot primi meniuri personalizate în funcție de nevoile lor specifice, cum ar fi pierderea în greutate, redefinirea sau creșterea masei musculare.</p>
  <p>Pentru antrenori, oferim instrumente puternice pentru a gestiona clienții, a crea și a ajusta planuri de alimentație, și pentru a monitoriza progresul fiecărui client într-un mod eficient și convenabil.</p>

  <h2>Cum funcționează?</h2>
  <p>Clienții pot naviga prin lista noastră de antrenori și să-și aleagă pe cel care li se potrivește cel mai bine. După ce își selectează antrenorul, vor completa un profil de utilizator. Folosind algoritmii noștri avansați, antrenorii vor genera meniuri personalizate pentru clienți pentru o perioadă de o lună. Aceste meniuri vor fi verificate și ajustate de antrenori, dacă este necesar, și trimise înapoi la clienți pentru a le asigura că primesc cel mai bun plan posibil pentru atingerea obiectivelor lor.</p>
</div>
</body>
</html>
