<div class="container">
  <h1>{{ 'About us' | translate }}</h1>
  <div class="container-content">

    <h2>{{ 'Who are we?' | translate }}</h2>
    <p>{{ 'We are an application dedicated to health and fitness, offering services for both clients and trainers. We focus on providing a personalized and efficient experience for all our users.' | translate }}</p>

    <h2>{{ 'What we offer?' | translate }}</h2>
    <p>{{ 'For clients, we offer a simple and intuitive platform where they can communicate with trainers, set their goals, and receive personalized menus based on their specific needs, such as weight loss, redefinition, or muscle gain.' | translate }}</p>
    <p>{{ 'For trainers, we offer powerful tools to manage clients, create and adjust nutrition plans, and monitor each client\'s progress in an efficient and convenient manner.' | translate }}</p>

    <h2>{{ 'How does it work?' | translate }}</h2>
    <p>{{ 'Customers can browse through our list of trainers and choose the one that best suits them. After selecting their trainer, they will complete a user profile. Using our advanced algorithms, trainers will generate personalized menus for clients for a one-month period. These menus will be reviewed and adjusted by trainers as necessary, and then sent back to clients to ensure they receive the best possible plan to achieve their goals.' | translate }}</p>

  </div>
</div>

