<div id="card">
  <div id="about">
      <img [src]="userProfileInformation.photoUrl" alt="Image Preview">
    <div id="smt">
    <div id="title">
      <h4>{{ userProfileInformation.fullName |  uppercase }} - {{ userProfileInformation.age }} ANI</h4>
      <app-rating [rating]="userProfileInformation.rating" [readonly]="true"></app-rating>
    </div>
    <div id="description">
      <p>{{ userProfileInformation.description }}</p>
    </div>
      <div id="price">
        <h4>{{ userProfileInformation.price }} LEI</h4>
      </div>
    </div>
</div>


