#card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#about {
  display: flex;
  align-items: center;
}

#about img {
  margin-right: 16px;
  width: 100px;
  height: 150px;
  object-fit: cover;
}

#smt {
  flex: 1;
}

#title h4 {
  margin: 0 0 8px;
}

#description p {
  margin: 0 0 16px;
}

#price h4 {
  margin: 0;
  color: #25148D;
;
}








