body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

img {
  width: 50px;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(76, 52, 226, 0.14);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.filter-container {
  display: flex;
  margin-bottom: 20px;
}

select {
  width: 95px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
}

button {
  width: 95px;
  height: auto;
  background-color: transparent;
  color: #2C18A3;
  border: none;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  margin-right: 10px;
}

button:hover {
  padding: 5px 15px;
  height: auto;
  border: 1px solid #2C18A3;
  border-radius: 2px;
}

.clients-container {
  padding-top: 150px;
  background-color: transparent;
}

#goToClientForm {
  cursor: pointer;
}

#goToClientForm:hover {
  background-color: #f3f0ff;
}

.approved{
  color: green;
  font-size: 14px;
  font-weight: bolder;
}

.rejected{
  color: #ca0505;
  font-size: 14px;
  font-weight: bolder;
}
