<div class="clients-container">
<div class="container">
  <h1>{{'Client Details' | translate}}</h1>
  <h2>{{'In pending' | translate}}</h2>
  <table>
    <thead>
    <tr>
      <th>{{'Profile Picture' | translate}}</th>
      <th>{{'Full Name' | translate}}</th>
      <th>{{'Email' | translate}}</th>
      <th>{{'Phone Number' | translate}}</th>
      <th>{{'Message' | translate}}</th>
      <th>{{'Status' | translate}}</th>
      <th>{{'Edit Status' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clientsInPending">
      <td><img [src]="client.awsLink" alt="Profile Picture"></td>
      <td>{{ client.fullName }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.phoneNumber }}</td>
      <td>{{ client.message }}</td>
      <td>
        <select [(ngModel)]="client.status">
          <option value="pending">{{'Pending' | translate}}</option>
          <option value="approved">{{'Approved' | translate}}</option>
          <option value="rejected">{{'Rejected' | translate}}</option>
        </select>
      </td>
      <td>
        <button class="btn-save" (click)="editStatus(client)">
          <i class="fas fa-save"></i> {{'Save' | translate}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>{{'Approved' | translate}}</h2>
  <table>
    <thead>
    <tr>
      <th>{{'Profile Picture' | translate}}</th>
      <th>{{'Full Name' | translate}}</th>
      <th>{{'Email' | translate}}</th>
      <th>{{'Phone Number' | translate}}</th>
      <th>{{'Message' | translate}}</th>
      <th>{{'Status' | translate}}</th>
    </tr>
    </thead>
  <tbody>
  <ng-container *ngFor="let client of clientsApproved">
    <tr routerLink="../menus/{{client.id}}" id="goToClientForm">
      <td><img [src]="client.awsLink" alt="Profile Picture"></td>
      <td>{{ client.fullName }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.phoneNumber }}</td>
      <td>{{ client.message }}</td>
      <td [class.approved]="client.status === 'approved'">{{ client.status.toUpperCase() }}</td>
      <td>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
</div>
<div class="container">
  <h2>{{'Rejected' | translate}}</h2>
  <table>
    <thead>
    <tr>
      <th>{{'Profile Picture' | translate}}</th>
      <th>{{'Full Name' | translate}}</th>
      <th>{{'Email' | translate}}</th>
      <th>{{'Phone Number' | translate}}</th>
      <th>{{'Message' | translate}}</th>
      <th>{{'Status' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let client of clientsRejected">
      <tr>
        <td><img [src]="client.awsLink" alt="Profile Picture"></td>
        <td>{{ client.fullName }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phoneNumber }}</td>
        <td>{{ client.message }}</td>
        <td [class.rejected]="client.status === 'rejected'">{{ client.status.toUpperCase() }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
</div>
