<div class="profile-container" *ngIf="!isEditing">
  <div class="profile-header">
    <div class="profile-image-container">
      <img [src]=profileService.photoUrl alt="Profile Picture" id="profileImage">
    </div>
    <div class="profile-details">
      <h1 id="fullName">{{currentUser.fullName}}</h1>
      <p id="phoneNumber">{{'Phone Number' | translate}}: {{currentUser.phoneNumber}}</p>
    </div>
  </div>
  <div class="profile-info">
    <p><strong>{{'Age' | translate}}: </strong> <span id="age">{{profileI.age}}</span></p>
    <p><strong>{{'Email' | translate}}: </strong> <span id="email">{{currentUser.email}}</span></p>
  </div>
  <div class="edit-profile">
    <button type="button" class="button-with-icon" (click)="toToEdit()">
      <i class="fas fa-cog"></i> {{'Edit' | translate}}
    </button>
  </div>
</div>

