<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Profile with Zoom and Pan</title>-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">-->
<!--</head>-->
<!--<body>-->
<div class="profile-container" *ngIf="!isEditing">
  <div class="profile-header">
    <div class="profile-image-container">
      <img [src]=profileService.photoUrl alt="Profile Picture" id="profileImage">
    </div>
    <div class="profile-details">
      <h1 id="fullName">{{currentUser.fullName}}</h1>
      <p id="phoneNumber">Phone: {{currentUser.phoneNumber}}</p>
    </div>
  </div>
  <div class="profile-info">
    <p><strong>Age:</strong> <span id="age">30</span></p>
    <p><strong>Email:</strong> <span id="email">{{currentUser.email}}</span></p>
  </div>
  <div class="edit-profile">
    <button type="button" class="button-with-icon" (click)="toToEdit()">
      <i class="fas fa-cog"></i> Edit
    </button>
  </div>
</div>

<!--<div class="edit-tab" *ngIf="isEditing">-->
<!--  &lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
<!--  &lt;!&ndash;<app-edit-profile *ngIf="isEditing"></app-edit-profile>&ndash;&gt;-->
<!--  <button type="button" (click)="cancelEdit()">Cancel</button>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
