#nav-bar {
  background-color: rgba(242, 240, 255, 1);
  padding: 20px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid rgba(76, 52, 226, 7%);
  width: 100%;
  z-index: 10;
}

button {
  background-color: transparent;
  color: #2C18A3;
  border: none;
  margin-right: 40px;
  height: 50px;
}

#menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  margin-top: -25px;
}

.nav-auth-container{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}

select {
  background-color: transparent;
  color: #2C18A3;
  border: none;
  margin-right: 40px;
  height: 50px;
}

