

#nav-bar{
  background-color: rgba(242, 240, 255, 1);
  padding: 20px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;  /*top: 0px;*/
  border-bottom: 1px solid rgba(76, 52, 226, 7%);
}

button{
  background-color:transparent;
  color: #2C18A3;
  border: none;
}

#menu-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#auth{
  box-shadow: 1px 2px 4px #4C34E2;

}
button:hover{
  border: 1px solid #2C18A3;
}
img{
  margin-top: -25px;
}

