  <div id="nav-bar">
    <img src="../../../assets/logo.png" alt="logo-picture" id="logo">
    <div id="menu-list">
      <div class="button-with-icon">
        <button (click)="moveTo('section1')"><i class="fas fa-home"></i>Acasa</button>
      </div>
      <div class="button-with-icon">
        <button (click)="moveTo('section3')"><i class="fa-solid fa-volume-high"></i>Despre noi</button>
      </div>
      <div class="button-with-icon">
        <button><i class="fa-solid fa-bars"></i>Lista antrenori</button>
      </div>
      <div class="button-with-icon">
        <button (click)="moveTo('section4')"><i class="fa-solid fa-square-phone"></i>Contact</button>
      </div>

    </div>
    <div class="button-with-icon">
      <button id="auth"><i class="fa-regular fa-user"></i>Autentifica-te</button>
    </div>
  </div>
