.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.coach-list-container{
  margin-top: 150px;
}
.coach-list-container{
  margin-top: 150px;
}
.coach-list-container{
  margin-top: 150px;
}
.coach-list-container{
  margin-top: 150px;
}
