<router-outlet></router-outlet>
<app-navigation-bar></app-navigation-bar>
<div id="register-page">
  <img src="../../../assets/welcome.png" id="welcome-back">
  <div class="content-register">
    <div id="form-animated">
      <app-eye-tracking [isPassword]="isPasswordFocused"></app-eye-tracking>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">
            <div ngModelGroup="userData">
              <div class="form-group input-container">
                <input type="email"
                       ngModel
                       name="email"
                       required
                       email
                       #emailInput="ngModel"
                       placeholder="Email"
                       (focus)="onFocus(false)"
                       (blur)="onBlur()">
              </div>
              <div class="error" [class.hide]="emailInput.untouched || emailInput.valid">
                Email is required!
              </div>
              <div class="form-group input-container">
                <input type="text"
                       ngModel
                       name="fullName"
                       required
                       #fullNameInput="ngModel"
                       placeholder="Full name"
                       pattern="[A-Za-z\s]{1,50}"
                       (focus)="onFocus(false)"
                       (blur)="onBlur()">
              </div>
              <div class="error" [class.hide]="fullNameInput.untouched || fullNameInput.valid">
                Full name is required!
              </div>
              <div class="form-group input-container">
                <input type="text"
                       ngModel
                       name="phoneNumber"
                       required
                       #phoneNumberInput="ngModel"
                       placeholder="Phone number"
                       pattern="[0-9]{10}"
                       (focus)="onFocus(false)"
                       (blur)="onBlur()">
              </div>
              <div class="error" [class.hide]="phoneNumberInput.untouched || phoneNumberInput.valid">
                Phone number is required!
              </div>
              <div class="form-group input-container">
                <input type="password"
                       ngModel
                       name="password"
                       required
                       #passwordInput="ngModel"
                       placeholder="Password"
                       autocomplete="current-password"
                       (focus)="onFocus(true)"
                       (blur)="onBlur()"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
              </div>
              <div class="error" [class.hide]="passwordInput.untouched || passwordInput.valid">
                <strong>Please follow the next requirements:</strong>
                <ul>
                  <li>At least 8 characters</li>
                  <li>At least one uppercase letter</li>
                  <li>At least one lowercase letter</li>
                  <li>At least one number</li>
                  <li>At least one special character (@$!%*?&)</li>
                </ul>
              </div>
              <div class="form-group input-container">
                <label>Are you a coach?</label>
                <select class="form-control" name="coach" [(ngModel)]="selectedRole" required>
                  <option [ngValue]="true">Yes</option>
                  <option [ngValue]="false">No</option>
                </select>
              </div>
              <div class="form-group input-container" *ngIf="selectedRole">
                <app-file-uploader (filesChange)="filesUp($event)" [uploadMultipleFiles]="true"></app-file-uploader>
              </div>
            </div>
            <div id="buttons">
              <button type="submit" [disabled]="!signUpForm.valid" id="signup-b">Sign up</button>
              <span style="margin-top: 10px;">Already have an account? <a routerLink="../login" id="login-link">Login here</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
