<div class="container">
  <div class="row">
    <div *ngIf="user.id">
      <form>
        <div ngModelGroup="userData">
          <div class="input-container">
            <input type="email"
                   ngModel
                   name="email"
                   required
                   email
                   [(ngModel)]="user.email"
                   placeholder="Email">
          </div>
          <div class="input-container">
            <input type="text"
                   ngModel
                   name="fullName"
                   required
                   placeholder="Full name"
                   [(ngModel)]="user.fullName">
          </div>
          <div class="input-container">
            <input type="text"
                   ngModel
                   name="phoneNumber"
                   required
                   [(ngModel)]="user.phoneNumber"
                   placeholder="Phone number">
          </div>
          <div class="input-container" *ngIf="awsLinks.length > 0">
            <label>Role</label>
            <select class="form-control" name="coach" required [(ngModel)]="user.roles" style="height: 40px">
              <option value="CLIENT">{{'Client' | translate}}</option>
              <option value="COACH">{{'Coach' | translate}}</option>
            </select>
          </div>

        </div>
        <button type="submit" (click)="updateRecords()">{{'Update' | translate}}</button>
      </form>
      <div *ngIf="awsLinks.length>0" class="documents-container">
        <h3>{{'Documents' | translate}}:</h3>
        <div *ngFor="let link of awsLinks">
          <h4 style="margin-left: 20px">{{'File' | translate}}: <a [href]="link">{{ link }}</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="users-container">
  <h2>{{'New Users' | translate}}</h2>
  <table class="table">
    <thead>
    <tr>
      <th>{{'Email' | translate}}</th>
      <th>{{'Full Name' | translate}}</th>
      <th>{{'Phone Number' | translate}}</th>
      <th>{{'Status' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of newPossibleCoaches; let i=index">
      <td>{{ user.email }}</td>
      <td>{{ user.fullName| uppercase }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.newCoach ? "new" : "old" }}</td>
      <td>
        <button type="button" class="button-s" style="margin-right: 10px" (click)="setUser(user)">Edit</button>
        <button type="button" (click)="setDelete(user.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="users-container">
  <h2>{{'Users' | translate}}</h2>
  <table class="table">
    <thead>
    <tr>
      <th>{{'Email' | translate}}</th>
      <th>{{'Full Name' | translate}}</th>
      <th>{{'Phone Number' | translate}}</th>
      <th>{{'Role' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i=index">
      <td>{{ user.email }}</td>
      <td>{{ user.fullName| uppercase }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.roles }}</td>
      <td>
        <button class="button-s" style="margin-right: 10px" type="button" (click)="setUser(user)">{{'Edit' | translate}}</button>
        <button style="color: white" class="" type="button" (click)="setDelete(user.id)">{{'Delete' | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


