<div id='create-card'>
  <div id="enter-data">
    <form #creatCardForm="ngForm">
      <div class="form-group" class="input-container">
        <label>Nume & prenume</label>
        <input type="text"
               ngModel
               name="Nume complet"
               required
               maxlength="27"
               [(ngModel)]="currentUser.fullName">
      </div>

      <div class="form-group" class="input-container">
        <label>Varsta</label>
        <input type="number"
               ngModel
               name="varsta"
               required
               pattern="^(1[89]|[2-9][0-9])$">
      </div>

      <div *ngIf="currentUser.roles=='COACH'">
      <div form-group  class="input-container">
        <label>Descriere</label>
        <input type="text"
               ngModel
               name="description"
               required
               maxlength="150">
        </div>
        <div form-group  class="input-container">
          <label>Pret</label>
          <input type="number"
                 ngModel
                 name="price"
                 required
                 maxlength="150">
        </div>
      </div>
      <div class="form-group" class="input-container">
        <label>Select image:</label>
        <app-file-uploader [uploadMultipleFiles]="false"></app-file-uploader>
      </div>
    </form>
  </div>
  <div *ngIf="currentUser.roles=='COACH'" id="display-data" >
    <app-coach-card></app-coach-card>
  </div>

</div>

