<form (ngSubmit)="  setPrerequisitesSet()"  [hidden]="!isClient && !prerequisites.id"  #prerequisitesForm="ngForm">
  <h3>{{'Required settings needed for menu generation' | translate}}</h3>
  <div class="form-group">
    <label for="age">{{'Age' | translate}}:</label>
    <input type="number" class="form-control"    [disabled]="!isClient" id="age" name="age" [(ngModel)]="prerequisites.age" required>
  </div>
  <div class="form-group">
    <label for="weight">{{'Weight(kg)' | translate}}:</label>
    <input type="number" class="form-control"  [disabled]="!isClient" id="weight" name="weight" [(ngModel)]="prerequisites.weight" required>
  </div>
  <div class="form-group">
    <label for="height">{{'Height' | translate}} in cm:</label>
    <input type="number" class="form-control"   [disabled]="!isClient" id="height" name="height" [(ngModel)]="prerequisites.height" required>
  </div>
  <div class="form-group">
    <label for="gender">{{'Gender' | translate}}:</label>
    <select class="form-control" id="gender"    [disabled]="!isClient" name="gender" [(ngModel)]="prerequisites.gender" required>
      <option value="female">{{'Female' | translate}}</option>
      <option value="male">{{'Male' | translate}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="intolerance">{{'Intolerances' | translate}}:</label>
    <select style="height: 150px" multiple class="form-control" id="intolerance"    [disabled]="!isClient" name="intolerance" [(ngModel)]="prerequisites.intolerances" required>
      <option *ngFor="let ingredient of foods" [value]="ingredient._id">{{getIngredientName(ingredient.name) | translate}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="snack">{{'Number of snack meals' | translate}}:</label>
    <select class="form-control" id="snack"    [disabled]="!isClient" name="snack" [(ngModel)]="prerequisites.secondaryMealsCount" required>
      <option value=1>1</option>
      <option value=2>2</option>
    </select>
  </div>
  <div class="form-group">
    <label for="meals">{{'Number of main meals' | translate}}:</label>
    <select class="form-control" id="meals"    [disabled]="!isClient" name="meal" [(ngModel)]="prerequisites.mainMealsCount" required>
      <option value=2>2</option>
      <option value=3>3</option>
    </select>
  </div>
  <div class="form-group">
    <label for="target">{{'Target' | translate}}:</label>
    <select class="form-control" id="target"  [disabled]="!isClient" name="target" [(ngModel)]="prerequisites.target" required>
      <option value="LOSE WEIGHT">{{'Lose weight' | translate}}</option>
      <option value="GAIN WEIGHT">{{'Increase muscle mass' | translate}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="activityLevel">{{'Activity level' | translate}}:</label>
    <select class="form-control" id="activityLevel"   [disabled]="!isClient" name="activityLevel" [(ngModel)]="prerequisites.activityLevel" required>
      <option value="1.2">{{'Sedentary' | translate}}</option>
      <option value="1.375">{{'Light(1-3 days per week)' | translate}}</option>
      <option value="1.55">{{'Moderate(3-5 days per week)' | translate}}</option>
      <option value="1.725">{{'Active(6-7 days per week)' | translate}}</option>
    </select>
  </div>
  <div *ngIf="prerequisitesLoaded && isClient">
    <button type="submit" class="button-s">{{'Update' | translate}}</button>
  </div>
  <div *ngIf="!prerequisitesLoaded && isClient">
    <button type="submit" class="button-s">{{'Create' | translate}}</button>
  </div>
</form>
<div *ngIf="!prerequisites.id && !isClient">
  <img src="../../../assets/notFound.jpeg">
</div>

